**/bin/
**/obj/
**/App_Data/
**/App_Start/
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets
.vs
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml